body {
  font-family: Verdana, sans-serif;
  background-color: white;
}

h1{
  color: white;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  width: 100%;
}

.menu-bar{
  height: 150px;
}

/* Header container */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-image: url("../Images/Capture.JPG");
  background-size: cover;
}



.header-content {
  width: 50%;

}

.fb-embed {
  display: flex;
  justify-content: center;
  margin-top:10%;
}

.content-column {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.footer {
  display: flex;
  justify-content: center;
  border: 1px black solid;
}

.content-column-text {
  margin-top: 10%;
  width: 50%;
  overflow: auto;
  padding: 2%;
}

.content-column-images-right {
  overflow: visible;
  margin-top: 10%;
  width: 50%;
  padding: 2%;
}

.content-column-images-left {
  overflow: visible;
  margin-top: 10%;
  width: 50%;
  padding: 2%;
  direction: rtl;
}

.content-column-images-right>img {
  width: 150%
}

.content-column-images-left>img {
  width: 150%
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-right: 15%;

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
@media only screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }
  /* Header container */
.header-container {
  
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-image: url("../Images/Capture.JPG");
  background-size: cover;
  font-size: 10px;
}

.fb-embed {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top:10%;
}

.content {
  margin-left: 3%;
  margin-right: 3%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

.content-column {
 display: block;
}
  .content-column-text {
      margin-top: 10%;
      width: 50%;
      overflow: auto;
      padding: 2%;
    }
    
    .content-column-images-right {
      overflow: visible;
      margin-top: 10%;
      width: auto;
      padding: 2%;
    }
    
    .content-column-images-left {
      overflow: visible;
      margin-top: 10%;
      width: auto;
      padding: 2%;
    }
    .content-column-images-right>img {
      width: 100%
    }
    
    .content-column-images-left>img {
      width: 100%
    }
}