.main {
	/* do something */
}

.navigation {
	padding: 20px;
	background-color: #1C2826;
}

.navigation-items {
	display: flex;
}

.navigation-item:not(:last-of-type) {
	margin-right: 20px;
}

.navigation-item--active {
	/* after */
}

.content {
	padding: 8px;
}

.login-card {
	border: 1px solid #999;
	margin-bottom: 20px;
	padding: 12px;
	border-radius: 4px;
}

.login {
	display: flex;
	flex-direction: column;
}

.login-button {
	background-color: #D64550;
	padding: 4px;
	border: none;
	color: #ffffff;
	font-size: 20px;
}

.login-input {
	margin-bottom: 8px;
	border: none;
	border-bottom: 1px solid #999;
	padding-top: 4px;
	padding-bottom: 4px;
}

.footer {
	padding: 8px;
}

.inline-block {
	display: inline-block;
}

/* Alt over 460px */
@media only screen and (min-width: 460px) {
	.main {
		max-width: 600px;
	}

	.login-button {
		font-size: inherit;
	}
}








